h1 {
    background-color: #0077b6;
    border: 5px solid #03045e;
    color: #ffe8d6;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;

}

h1:nth-of-type(2n) {
    background-color: #ae2012;
}

h1:nth-of-type(3n) {
    background-color: #0096c7;
}

h1:nth-of-type(4n) {
    background-color: #f72585;
}

section:first-of-type h1:nth-of-type(1) {
    /* transform-origin: top left; */
    transform: rotate(45deg);
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(0.5);
}

section:first-of-type h1:nth-of-type(3) {
    transform: translateX(200px);
}

section:first-of-type h1:nth-of-type(4) {
    transform: translateY(-200px);
}

section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(30deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(20deg) scale(1.2) skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(4) {
    transform: translateX(-500px) rotate(180deg) scaleY(1.5);
}

section:nth-of-type(2) {
    transform: translateX(500px) scaleY(0.7);
}